.container {
  margin-left: 13%;
  margin-top: -25%;
}
.section {
  display: flex;
}
.title {
  margin-left: 35%;
}
.section2 {
  margin-left: 10%;
}
.doc {
  margin-left: 28%;
}
.old-version {
  background-color: red;
  width: 700px;
}
